{# header/menu.html.twig #}
{% extends 'header/layout.html.twig'%}
{% block menu %}
<div class="menu">
    <ul class="nav justify-content-start navbar-text fs-6 align-items-center">
            <li class="nav-item"><a class="nav-link active " aria-current="page" href="{{ path('front_page') }}">Home</a></li>
            {% if app.user %}
            <li class="nav-item"><a class="nav-link" href="{{ path('profile') }}">Profile</a> </li>
            <li class="nav-item"><a class="nav-link" href="#">Iventory</a> </li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ path('about') }}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Login</a> </li>
            <li class="nav-item">  <a class="nav-link" href="{{ path('app_register') }}">Register</a> </li>
            {% endif %}
    </ul>
</div>
{% endblock %}
