{% extends 'base.html.twig' %}

{% block title %}Edit item{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-list-group .list-group-item {
  
        }
        .form-list-group input {
            width: 100%;
   
        }
        .form-list-group textarea {
            width: 100%;
        }
        .form-list-group label {
            display: block;
        }
    </style>
{% endblock %}

{% block page_title %}Edit item #{{item.id}} - {{ item.name}}{% endblock %}

{% block content %}
<div class="mt-4 lg-col-8 mx-auto">
    {{ form_start(form, {'attr': {'class': 'form-horizontal form-list-group'}}) }}

    {# Form Fields in a List-Style Layout #}
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="col">
                
                   {{ form_row(form.type) }}
                 {# {{ get_item_type_name(form.type) }} #}
                </div>

            </div>
    
        </div>
        <div class="list-group-item">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="list-group-item">
              

     
            <div class="row">
                <div class="col">
                    {{ form_label(form.item_level) }}
                    {{ form_widget(form.item_level, {'attr': {'disabled': true}}) }}
                </div>
                <div class="col">
                    {{ form_label(form.slot) }}
                    {{ form_widget(form.slot) }}
                </div>
            </div>
        </div>
        <div class="list-group-item">
            {{ form_label(form.set_item) }}
            {{ form_widget(form.set_item,  {'attr': {'disabled': true}}) }}
        </div>
        {# Stats #}

        <div class="list-group-item">
            <div class="row">
                <div class="col">
                    {{ form_label(form.stat_health, 'Health') }}
                    {{ form_widget(form.stat_health) }}
                </div>
                <div class="col">
                    {{ form_label(form.stat_armor, 'Armor') }}
                    {{ form_widget(form.stat_armor) }}
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col">
                    {{ form_label(form.stat_min_dmg, 'Min dmg') }}
                    {{ form_widget(form.stat_min_dmg) }}
                </div>
                <div class="col">
                    {{ form_label(form.stat_max_dmg, 'Max dmg') }}
                    {{ form_widget(form.stat_max_dmg) }}
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 text-end">
        <button type="submit" class="btn btn-primary">Edit item</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
