{% extends 'base.html.twig' %}

{% block title %}Creatures{% endblock %}
{% block page_title %}Creatures{% endblock %}

{% block content %}
  
        <div class="text-end mb-3">
            <a class="btn btn-primary" href="{{ path('app_add_creature') }}">Add a new creature</a>
        </div>

        {% if creatures|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Level</th>
                        <th scope="col">Health</th>
                        <th scope="col">Armor</th>
                        <th scope="col">Damage</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for creature in creatures %}
                        <tr>
                            <td>{{ creature.id }}</td>
                            <td>{{ creature.name }}</td>
                            <td class="text-truncate" style="max-width: 200px;">{{ creature.decription }}</td>
                            <td>{{ creature.level }}</td>
                            <td>{{ creature.health }}</td>
                            <td>{{ creature.armor }}</td>
                            <td>{{ creature.minDmg }} - {{ creature.maxDmg }}</td>
                            <td>
                                <a href="{{ path('app_edit_creature', {'id': creature.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                                <!-- Add more actions as needed -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No creatures found.</p>
        {% endif %}
  
{% endblock %}
