{% extends 'base.html.twig' %}

{% block page_title %}ItemController{% endblock %}
{% block content %}
   
   <table class="table">
   <div class="text-end mb-3">
             <a class="btn btn-primary" href="{{ path('app_add_item')}}">Add a new Item</a>
</div>
       <thead>
           <tr>
               <th>ID</th>
                <th>Type</th>
               <th>Name</th>
               <th>Description</th>
               <th>Action</th> <!-- New column for edit action -->
           </tr>
       </thead>
       <tbody>
           {% for item in items %}

               <tr>
                   <td>{{ item.id }}</td>
                   <td>{{ typeNames[item.type]|default('Unknown Type') }}</td>
                   <td>{{ item.name }}</td>
                   <td>{{ item.description }}</td>
                   <td><a href="{{ path('app_edit_item', {'id': item.id}) }}" class="btn btn-sm btn-primary">Edit</a></td> <!-- Edit action link -->
               </tr>
           {% endfor %}
       </tbody>
   </table>
   
{% endblock %}
          